{% extends 'layout.html' %}
{% load i18n %}
{% load url %}
{% load staticfiles %}
{% block breadcrumbs %}
    <i class="right angle icon divider"></i>
    <div class="section">{% trans 'Settings' %}</div>
    <i class="right angle icon divider"></i>
    <a href="{% url 'core:administrators' %}" class="section">{% trans 'Administrators' %}</a>
    <i class="right angle icon divider"></i>
    <div class="section">{% trans 'Add administrator' %}</div>
{% endblock %}
{% block breadcrumbs_sub_header %}
    {% trans 'Add administrator' %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="column">
            <div class="ui {{ request.user.theme }} mini segment">
                <form class="ui form" method="post" name="admin_add_form">{% csrf_token %}
                    <div class="required field">
                        <label>{% trans 'Login' %}</label>
                        {{ admin_form.login }}
                    </div>
                    <div class="required field">
                        <label>{% trans 'Password' %}</label>
                        {{ admin_form.password }}
                    </div>
                    <div class="field">
                        <label>{% trans 'Name' %}</label>
                        {{ admin_form.name }}
                    </div>
                    <div class="field">
                        <label>{% trans 'Address' %}</label>
                        {{ admin_form.address }}
                    </div>
                    <div class="field">
                        <label>{% trans 'Cell phone' %}</label>
                        {{ admin_form.cell_phone }}
                    </div>
                    <div class="field">
                        <label>{% trans 'Phone' %}</label>
                        {{ admin_form.phone }}
                    </div>
                    <div class="field">
                        <label>{% trans 'Email' %}</label>
                        {{ admin_form.email }}
                    </div>
                    <div class="field">
                        <label>{% trans 'Theme' %}</label>
                        {{ admin_form.theme }}
                    </div>
                    <div class="field">
                        <label>{% trans 'Style' %}</label>
                        {{ admin_form.style }}
                    </div>
                    <div class="inline field">
                        <div class="ui checkbox">
                            {{ admin_form.disable }}
                            <label>{% trans 'Disable' %}</label>
                        </div>
                    </div>
                    <button class="tiny ui teal submit button"name="admin_form_save" type="submit">{% trans 'Change' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}