{% extends 'layout.html' %}
{% load i18n %}
{% load url %}
{% load staticfiles %}
{% block breadcrumbs %}
    <i class="right angle icon divider"></i>
    <div class="active section">{% trans 'Administrators' %}</div>
{% endblock %}
{% block breadcrumbs_sub_header %}
    {% trans 'Administrators list' %}
{% endblock %}
{% block content %}
    {% if admin_form.errors %}
        {{ admin_form.errors }}
    {% endif %}
{#        <div class="panel-heading hidden-print">#}
{#            <div class="btn-group btn-group-xs" role="group">#}
{#                <a title="{% trans 'Add administrator' %}" class="hidden-print" data-toggle="modal" data-target="#admin_add" href="#"><span class="glyphicon glyphicon-plus"></span></a>#}
{#            </div>#}
{#            <div class="btn-group pull-left">#}
{#                <div class="modal fade" id="admin_add" role="dialog" aria-hidden="true">#}
{#                    <div class="modal-dialog modal-title">#}
{#                        <div class="modal-content">#}
{#                            <div class="modal-header">{% trans 'Add administrator' %}#}
{#                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                <span aria-hidden="true">&times;</span>#}
{#                            </button>#}
{#                            </div>#}
{#                            <div class="modal-body text-left">#}
{#                                <form method="post" name="form_admin">{% csrf_token %}#}
{#                                    <div class="panel panel-default panel-form">#}
{#                                        <div class="panel-body">#}
{#                                            <div class="form-group">#}
{#                                                <label class="control-label required" for="nas_ip">{% trans 'Login' %}</label>#}
{#                                                {{ admin_form.login }}#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <label class="control-label" for="server_name">{% trans 'Name' %}</label>#}
{#                                                {{ admin_form.name }}#}
{#                                            </div>#}
{#                                            <div class="checkbox">#}
{#                                                <label>#}
{#                                                    {{ admin_form.disable }} {% trans 'Disable' %}#}
{#                                                </label>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <label class="control-label" for="server_name">{% trans 'Theme' %}</label>#}
{#                                                {{ admin_form.theme }}#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <label class="control-label" for="server_name">{% trans 'Email' %}</label>#}
{#                                                {{ admin_form.email }}#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <label class="control-label" for="server_name">{% trans 'Address' %}</label>#}
{#                                                {{ admin_form.address }}#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <label class="control-label" for="server_name">{% trans 'Cell phone' %}</label>#}
{#                                                {{ admin_form.cell_phone }}#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <label class="control-label" for="server_name">{% trans 'Phone' %}</label>#}
{#                                                {{ admin_form.phone }}#}
{#                                            </div>#}
{#                                            <hr>#}
{#                                            <div class="row text-center">#}
{#                                                <input class="btn btn-primary" type="submit" name="admin_add">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    <div class="row">
        <div class="column">
            <div class="ui {{ request.user.theme }} mini segment">
                <div class="ui sticky mini fluid pagination menu">
                    <div class="header item">{% trans 'Export' %}</div>
                    <a href="?{% url_replace request 'xml' '1' %}" target="_blank" class="item popup" data-content="{% trans 'Will be opened in new window' %}">
                        <i class="gamepad icon"></i>
                        Xml
                    </a>
                    <a href="?{% url_replace request 'csv' '1' %}" class="item">
                        <i class="video camera icon"></i>
                        Csv
                    </a>
                    <div class="header right floated item">{% trans 'Pagination' %}</div>
                    <a href="{% url 'core:administrators_add' %}" class="item">
                        <i class="add user icon"></i>
                    </a>
                    {% if fees.number == 1 %}
                        <div class="disabled item">
                            1
                        </div>
                    {% endif %}
                    {% if fees.has_previous %}
                        <a href="?{% url_replace_page request 'page' '1' %}" class="item">1</a>
                        {% if fees.number > 7 %}
                            <div class="disabled item">
                                ...
                            </div>
                        {% endif %}
                    {% endif %}
                    {% for p in page_list %}
                        {% if p == 1 %}
                        {% else %}
                            {% if fees.number == p %}
                                <a class="item active" href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                            {% else %}
                                <a class="item" href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if fees.has_next %}
                        {% if fees.number < fees.paginator.num_pages|add:"-5" %}
                            <div class="disabled item">
                                ...
                            </div>
                            <a class="item" href="?{% url_replace_page request 'page' fees.paginator.num_pages %}" aria-label="Next">
                                {{ fees.paginator.num_pages }}
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                <table class="ui very compact selectable striped table">
                    <thead>
                    <tr>
                        <th>
                            <script>
                                $( document ).ready(function() {
                                    $('#checkAll').click(function () {
                                        $('input:checkbox[id^="admin_ld"]').not(this).prop('checked', this.checked);
                                    })
                                });
                            </script>
                            <input type='checkbox' id='checkAll'/>
                        </th>
                        <th><a title="ID" href="">ID</a></th>
                        <th><a title="{% trans 'Login' %}" href="">{% trans 'Login' %}</a></th>
                        <th><a title="{% trans 'FIO' %}" href="" >{% trans 'FIO' %}</a></th>
                        <th><a title="Phone" href="" >{% trans 'Phone' %}</a></th>
                        <th><a title="Email" href="" >Тип</a></th>
                        <th><a title="Отключено" href="" >Отключено</a></th>
                        <th><a title="Описание" href="" >Описание</a></th>
                        <th><a title="{% trans 'Theme' %}" href="" >{% trans 'Theme' %}</a></th>
                        <th>{% trans 'Edit' %}</th>
                        <th>{% trans 'Delete' %}</th>
                    </tr>
                    </thead>
                    {% for admin in admins %}
                        <tr>
                            <td><input type='checkbox' name='admin_ld' value="{{ admin.id }}" id='admin_ld'></td>
                            <td> {{ admin.id }} </td>
                            <td> {{ admin.login }} </td>
                            <td> {{ admin.name }} </td>
                            <td> {{ admin.cell_phone }} </td>
                            <td> {{ admin.email }} </td>
                            {% if admin.disable == 1 %}
                                <td><i class="fa fa-check"></i></td>
                            {% else %}
                                <td><i class="fa fa-times"></i></td>
                            {% endif %}
                            <td>{{ nas.descr }}</td>
                            <td>
                                {% if admin.theme %}
                                    {{ admin.theme }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'core:administrator_edit' admin.id %}"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i></a>
                            </td>
                            <td>
                                <form method="post" id="admin_remove_form" onsubmit="return confirm('{% trans 'Warning! You can not revert you changes!!!' %}')">{% csrf_token %}
                                    <input type="hidden" name="uid" value="{{ admin.id }}">
                                    <button name="admin_remove" type="submit" class="negative mini compact ui icon button" onclick="if(!confirm('{% trans 'Remove admin ' %}{{ admin.login }}?')){return false;}">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </form>
{#                        <a title="{% trans 'Delete' %}" class='' href="#"  data-id='' data-toggle='modal' ></a>#}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}