{% extends 'layout.html' %}
{% load url %}
{% load i18n %}
{% block breadcrumbs %}
    <i class="right angle icon divider"></i>
    <div class="active section">{% trans 'Company' %}</div>
{% endblock %}
{% block breadcrumbs_sub_header %}
    {% trans 'Company list' %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="column">
            <div class="ui {{ request.user.theme }} mini segment">
                {% if r_company == 1 %}
                    {% if company %}
                        <div id="company_modal" class="ui modal">
                            <i class="close icon"></i>
                            <div class="header">
                            </div>
                            <div class="content">
                                <table id="table_test" class="ui small selectable striped table">
                                </table>
                            </div>
                        </div>
                        <div class="ui sticky mini fluid pagination menu">
                            <div class="header item">{% trans 'Export' %}</div>
                            <a href="?{% url_replace request 'xml' '1' %}" target="_blank" class="item popup" data-content="{% trans 'Will be opened in new window' %}">
                                <i class="gamepad icon"></i>
                                Xml
                            </a>
                            <a href="?{% url_replace request 'csv' '1' %}" class="item">
                                <i class="video camera icon"></i>
                                Csv
                            </a>
                            <div class="header right floated item">{% trans 'Pagination' %}</div>
                            {% if company.number == 1 %}
                                <div class="disabled item">
                                    1
                                </div>
                            {% endif %}
                            {% if company.has_previous %}
                                <a href="?{% url_replace_page request 'page' '1' %}" class="item">1</a>
                                {% if company.number > 7 %}
                                    <div class="disabled item">
                                        ...
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% for p in page_list %}
                                {% if p == 1 %}
                                {% else %}
                                    {% if company.number == p %}
                                        <a class="item active" href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                    {% else %}
                                        <a class="item" href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if company.has_next %}
                                {% if company.number < company.paginator.num_pages|add:"-5" %}
                                    <div class="disabled item">
                                        ...
                                    </div>
                                    <a class="item" href="?{% url_replace_page request 'page' company.paginator.num_pages %}" aria-label="Next">
                                        {{ company.paginator.num_pages }}
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% include 'table_company.html' %}
                    {% else %}
                        {% trans 'Company not found' %}
                    {% endif %}
                {% endif %}
                {% if r_company == 2 %}
                    <form class="ui form">
                        <div class="ui sticky stackable mini menu">
                            <div class="item">
                                <label>{% trans 'Financial account' %}: </label>
                                <label>{{ edit_company.bill_id }}</label>
                            </div>
                            <div class="item">
                                <label>{% trans 'Deposit' %}: </label>
                                {% if edit_company.bill.deposit > 0 %}
                                    <div class="ui green label">{{ edit_company.bill.deposit }}</div>
                                {% else %}
                                    <div class="ui red label">{{ edit_company.bill.deposit }}</div>
                                {% endif %}
                            </div>
                            <div class="item">
                                <label>{% trans 'Registration' %}: </label>
                                <label>{{ edit_company.registration }}</label>
                            </div>
                        </div>
                        <div class="ui tiny segment">
                            <div class="ui sticky stackable mini menu">
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>{% trans 'Name' %}</label>
                                         <textarea rows="2" >{{ edit_company.name }}</textarea>
{#                                            <input placeholder="Name..." type="text" value="">#}
                                </div>
                                <div class="field">
                                    <label>{% trans 'Address' %}</label>
                                    <textarea rows="2">{{ edit_company.address }}</textarea>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>{% trans 'Credit' %}</label>
                                    <div class="ui input">
                                        <input placeholder="Address..." type="text" value="{{ edit_company.address }}">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>{% trans 'Date' %}</label>
                                    <div class="ui input">
                                        <input placeholder="Date..." type="text" value="{{ edit_company.credit_date }}">
                                    </div>
                                </div>
                            </div>
                            <div class="three fields">
                                <div class="field">
                                    <label>{% trans 'Phone' %}</label>
                                    <input placeholder="Phone..." type="text" value="{{ edit_company.phone }}">
                                </div>
                                <div class="field">
                                    <label>{% trans 'Representative' %}</label>
                                    <input placeholder="Representative..." type="text" value="{{ edit_company.representative }}">
                                </div>
                                <div class="field">
                                    <label>{% trans 'Tax number' %}</label>
                                    <div class="ui input">
                                        <input placeholder="Tax number..." type="text" value="{{ edit_company.tax_number }}">
                                    </div>
                                </div>
                            </div>
                            <div class="ui sticky stackable mini menu">
                            </div>
                            <div class="fields">
                                <div class="field">
                                    <label>{% trans 'Account' %}</label>
                                    <input placeholder="Account..." type="text" value="{{ edit_company.bank_account }}">
                                </div>
                            </div>
                            <div class="fields">
                                <div class="field">
                                    <label>{% trans 'Bank name' %}</label>
                                    <input placeholder="Bank name..." type="text" value="{{ edit_company.bank_name }}">
                                </div>
                            </div>
                            <div class="fields">
                                <div class="field">
                                    <label>{% trans 'Corr. account' %}</label>
                                    <input placeholder="Corr. account..." type="text" value="{{ edit_company.cor_bank_account }}">
                                </div>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
