{% extends 'layout.html' %}
{% load url %}
{% load i18n %}
{% block breadcrumbs %}
    <i class="right angle icon divider"></i>
    <div class="active section">{% trans 'Fees' %}</div>
{% endblock %}
{% block breadcrumbs_sub_header %}
    {% trans 'Fees list' %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="column">
            <div class="ui {{ request.user.theme }} segment">
                {% if fees %}
                    <div class="ui sticky mini fluid pagination menu">
                        <div class="header item">{% trans 'Export' %}</div>
                        <a href="?{% url_replace request 'xml' '1' %}" target="_blank" class="item popup" data-content="{% trans 'Will be opened in new window' %}">
                            <i class="gamepad icon"></i>
                            Xml
                        </a>
                        <a href="?{% url_replace request 'csv' '1' %}" class="item">
                            <i class="video camera icon"></i>
                            Csv
                        </a>
                        <div class="header right floated item">{% trans 'Pagination' %}</div>
                        {% if fees.number == 1 %}
                            <div class="disabled item">
                                1
                            </div>
                        {% endif %}
                        {% if fees.has_previous %}
                            <a href="?{% url_replace_page request 'page' '1' %}" class="item">1</a>
                            {% if fees.number > 7 %}
                                <div class="disabled item">
                                    ...
                                </div>
                            {% endif %}
                        {% endif %}
                        {% for p in page_list %}
                            {% if p == 1 %}
                            {% else %}
                                {% if fees.number == p %}
                                    <a class="item active" href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                {% else %}
                                    <a class="item" href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if fees.has_next %}
                            {% if fees.number < fees.paginator.num_pages|add:"-5" %}
                                <div class="disabled item">
                                    ...
                                </div>
                                <a class="item" href="?{% url_replace_page request 'page' fees.paginator.num_pages %}" aria-label="Next">
                                    {{ fees.paginator.num_pages }}
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% include 'table_fees.html' %}
                {% else %}
                    {% trans 'Fees not found' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}