{% extends 'layout.html' %}
{% load i18n %}
{% load staticfiles %}
{% load url %}
{% block extra_scripts %}
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="four wide column">
            <div class="ui {{ request.user.theme }} mini segment">
                <div class="ui relaxed divided list">
                    <div class="item">
                        <i class="large info middle aligned icon"></i>
                        <div class="content">
                            <div class="header">{% trans 'System' %}</div>
                            <div class="description">
                                <marquee scrollamount="1" behavior="scroll" direction="left" >
                                    {{ sys }}
                                </marquee>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large alarm outline middle aligned icon"></i>
                        <div class="content">
                            <div class="header">{% trans 'Uptime' %}</div>
                            <div id="uptime" class="description">{{ uptime }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large area chart middle aligned icon"></i>
                        <div class="content" style="width: 100%">
                            <div class="header">{% trans 'CPU' %}</div>
                            {% for cpu in cpu_load_list %}
                                <div>{% trans 'Core load' %} {{ forloop.counter }}</div>
                                <div class="ui indicating tiny progress" id="core{{ forloop.counter }}" style="margin: 0.1em 0 0.1em;">
                                    <div class="bar"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="item">
                        <i class="large bar chart middle aligned icon"></i>
                        <div class="content" style="width: 100%">
                            <div class="header">{% trans 'Memory' %}</div>
                            <div>{% trans 'Total' %}: <span style="font-weight: bold" id="getMemoryTotal"></span></div>
                            <div>{% trans 'Used' %}: <span style="font-weight: bold" id="getMemoryUsed"></span></div>
                            <div>{% trans 'Free' %}: <span style="font-weight: bold" id="getMemoryFree"></span></div>
                            <div>{% trans 'Cached' %}: <span style="font-weight: bold" id="getMemoryCached"></span></div>
                            <div>{% trans 'Load' %}</div>
                            <div class="ui indicating tiny progress" id="getMemory" style="margin: 0.1em 0 0.1em;">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large bar chart middle aligned icon"></i>
                        <div class="content" style="width: 100%">
                            <div class="header">{% trans 'Swap' %}</div>
                            <div>{% trans 'Total' %}: <span style="font-weight: bold" id="getSwapTotal"></span></div>
                            <div>{% trans 'Used' %}: <span style="font-weight: bold" id="getSwapUsed"></span></div>
                            <div>{% trans 'Free' %}: <span style="font-weight: bold" id="getSwapFree"></span></div>
                            <div>{% trans 'Cached' %}: <span style="font-weight: bold" id="getMemoryCached"></span></div>
                            <div>{% trans 'Load' %}</div>
                            <div class="ui indicating tiny progress" id="getSwap" style="margin: 0.1em 0 0.1em;">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui {{ request.user.theme }} mini segment">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="ui very compact selectable striped table">
                            <thead>
                                <tr>
                                    <th>{% trans 'Periodic' %}</th>
                                    <th>{% trans 'Count pay' %}</th>
                                    <th>{% trans 'Sum' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% trans 'Day' %}</td>
                                    <td id="day_sum_count"></td>
                                    <td id="day_sum">{% trans 'Day' %}</td>
                                </tr>
                                <tr>
                                    <td>{% trans 'Week' %}</td>
                                    <td id="week_sum_count"></td>
                                    <td id="week_sum">{% trans 'Week' %}</td>
                                </tr>
                                <tr>
                                    <td>{% trans 'Month' %}</td>
                                    <td id="month_sum_count"></td>
                                    <td id="month_sum">{% trans 'Month' %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
