{% extends 'layout.html' %}
{% load i18n %}
{% load url %}
{% load staticfiles %}
{% block extra_js %}
{#    <script src="{% static 'djangorpc/js/jquery-1.9.1.min.js' %}"></script>#}
    <script src="{% static 'djangorpc/js/jquery.util.js' %}"></script>
    <script src="{% static 'djangorpc/js/jquery.rpc.js' %}"></script>
    <script src="{% static 'djangorpc/js/jquery.form.js' %}"></script>
    <script src="{% static 'custom/js/csrf.js' %}"></script>
{% endblock %}
{% block extra_css %}
{% endblock %}
{% block extra_scripts %}
<script type="application/javascript">
$(document).ready(function() {
    if ($('#id_district').val()) {
        getStreets($('#id_district').val())
    }
    if ($('#id_street').val()) {
        getHouses($('#id_street').val())
    }
{#    if (!$("#id_street").val()) {#}
{#        $("#id_street option").remove();#}
{#        $('#id_street').append($("<option></option>").attr("value", '0').text('---------'));#}
{#    }#}
{#    if (!$('#id_house').val()) {#}
{#        $("#id_house option").remove();#}
{#        $('#id_house').append($("<option></option>").attr("value", '0').text('---------'));#}
{#    }#}
    function getStreets(value){
        url = "/api/streets/" + "?district=" + value;
        $.ajax({
            type: "GET",
            url: url,
            datatype: 'json',
            beforeSend: function() {
                $('#response').html("<img src='/static/custom/images/ajax-loader.gif' />");
            },
            success: function(data){
                //var parsed_data = $.parseJSON(data);
{#                $('#id_street').append($("<option></option>").attr("value", '').text('-----------'));#}
                $.each(data, function(index, val) {
                    $('#id_street').append($("<option></option>").attr("value", val.id).text(val.name));
                });
            }
        });
    }
    function getHouses(value){
        url = '/api/houses/' + '?street=' + value;
        $.ajax({
            type: "GET",
            url: url,
            datatype: 'json',
            beforeSend: function() {
                $('#response').html("<img src='/static/custom/images/ajax-loader.gif' />");
            },
            success: function(data){
                //var parsed_data = $.parseJSON(data);
{#                $('#id_house').append($("<option></option>").attr("value", '').text('-----------'));#}
                $.each(data, function(index, val) {
                    $('#id_house').append($("<option></option>").attr("value", val.id).text(val.number));
                });
            }
        });
    }
    $('#id_district').on('change', function(){
        if (this.value){
            $("#id_street option").remove();
            getStreets(this.value);
            $('#id_street').append($("<option></option>").attr("value", '0').text('---------'));
        } else {
            $("#id_street option").remove();
            $('#id_street').append($("<option></option>").attr("value", '0').text('---------'));
        }
    });
    $('#id_street').on('change', function(){
        if (this.value){
            $("#id_house option").remove();
            getHouses(this.value);
            $('#id_house').append($("<option></option>").attr("value", '0').text('---------'));
        } else {
            $("#id_house option").remove();
            $('#id_house').append($("<option></option>").attr("value", '0').text('---------'));
        }
    });
    $(document).ajaxSend(function(event, request, settings) {
        $('#overlay').show();
    });

    $(document).ajaxComplete(function(event, request, settings) {
        $('#overlay').hide();
    });
});
</script>
{% endblock %}
{% block breadcrumbs %}
    <i class="right angle icon divider"></i>
    <div class="active section">{% trans 'Search' %}</div>
{% endblock %}
{% block breadcrumbs_sub_header %}
    {% trans 'Search user by criteria' %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="column">
            <div class="ui blue mini segment">
                <div id="search_panel" class="ui accordion field">
                    <div class="active title"><i class="icon dropdown"></i> {% trans 'Search' %} </div>
                    <div class="active content field">
                        {% if error %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <p class="text-center">{{ error }}</p>
                            </div>
                        {% endif %}
                        <div class="ui four mini item menu">
                            <a href="{% url 'core:search' %}?search_type=1" class="item {% if search_type == '1' %}active{% endif %}">{% trans 'Clients' %}</a>
                            <a href="{% url 'core:search' %}?search_type=2" class="item {% if search_type == '2' %}active{% endif %}">{% trans 'Company' %}</a>
                            <a href="{% url 'core:search' %}?search_type=3" class="item {% if search_type == '3' %}active{% endif %}">{% trans 'Fees' %}</a>
                            <a href="{% url 'core:search' %}?search_type=4" class="item {% if search_type == '4' %}active{% endif %}">{% trans 'Payments' %}</a>
                        </div>
                        <div class="ui grid">
                            <div class="column">
                                <form class="ui mini form" method="GET">
                                    {% if search_type == '1' %}
                                        <div class="field">
                                            <div class="two fields">
                                                <div class="field">
                                                    <label>{% trans 'Login' %}</label>
                                                    {{ search_form.login }}
                                                </div>
                                                <div class="field">
                                                    <label>{% trans 'UID' %}</label>
                                                    {{ search_form.uid }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="inline fields">
                                            <label for="fruit">Select your favorite fruit:</label>
                                            {% for radio in search_form.disabled %}
                                                <div class="field">
                                                    <div class="ui radio checkbox">
                                                        {{ radio.tag }}
                                                        <label>{{ radio.choice_label }}</label>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="field">
                                            <div class="two fields">
                                                <div class="field">
                                                    <label>{% trans 'District' %}</label>
                                                    {{ search_form.district }}
                                                </div>
                                                <div class="field">
                                                    <label>{% trans 'Street' %}</label>
                                                    {{ search_form.street }}
                                                </div>
                                            </div>
                                            <div class="two fields">
                                                <div class="field">
                                                    <label>{% trans 'House' %}</label>
                                                    {{ search_form.house }}
                                                </div>
                                                <div class="field">
                                                    <label>{% trans 'Flat' %}</label>
                                                    {{ search_form.flat }}
                                                </div>
                                            </div>
                                            <input type="hidden" name="search" value="1">
                                            <input type="hidden" name="search_type" value="1">
                                            <hr/>
                                        </div>
                                    {% elif search_type == '3' %}
                                        <div class="field">
                                            <label>Name</label>
                                            <div class="two fields">
                                                <div class="field">
                                                    <input name="shipping[first-name]" placeholder="First Name" type="text">
                                                </div>
                                                <div class="field">
                                                    <input name="shipping[last-name]" placeholder="Last Name" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    {% elif search_type == '4' %}
                                        <div class="field">
                                            <label>Name</label>
                                            <div class="two fields">
                                                <div class="field">
                                                    <input name="shipping[first-name]" placeholder="First Name" type="text">
                                                </div>
                                                <div class="field">
                                                    <input name="shipping[last-name]" placeholder="Last Name" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <button class="tiny ui teal submit button" tabindex="0">Submit Order</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if search_type == '1' %}
            {% elif search_type == '3' %}
                <div class="row">
                    <div class="column">
                        <label>{% trans 'Login' %}</label>
                        {{ search_fees_form.login }}
                        <label>Password</label>
                        {{ search_fees_form.group }}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <input type="hidden" name="search" value="1">
                        <input type="hidden" name="search_type" value="3">
                        <hr/>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            {% elif search_type == '4' %}
                <div class="row">
                    <div class="column">
                        <label>{% trans 'Login' %}</label>
                        {{ search_payments_form.login }}
                        <label>Password</label>
                        {{ search_payments_form.group }}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <input type="hidden" name="search" value="1">
                        <input type="hidden" name="search_type" value="4">
                        <hr/>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if search %}
        <script>$('#search_panel').accordion('close', 0);</script>
        <div class="row">
            <div class="column">
                <div class="ui tiny stacked segment">
                    {% if search_type == '1' %}
                        <div class="ui sticky mini fluid pagination menu">
                            <div class="header item">{% trans 'Export' %}</div>
                            <a href="?{% url_replace request 'xml' '1' %}" target="_blank" class="item popup" data-content="{% trans 'Will be opened in new window' %}">
                                <i class="gamepad icon"></i>
                                Xml
                            </a>
                            <a href="?{% url_replace request 'csv' '1' %}" class="item">
                                <i class="video camera icon"></i>
                                Csv
                            </a>
                            <div class="header right floated item">{% trans 'Pagination' %}</div>
                            {% if users.number == 1 %}
                                <div class="disabled item">
                                    1
                                </div>
                            {% endif %}
                            {% if users.has_previous %}
                                <a href="?{% url_replace_page request 'page' '1' %}" class="item">1</a>
                                {% if users.number > 7 %}
                                    <div class="disabled item">
                                        ...
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% for p in page_list %}
                                {% if p == 1 %}
                                {% else %}
                                    {% if users.number == p %}
                                        <a class="item active" href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                    {% else %}
                                        <a class="item" href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if users.has_next %}
                                {% if users.number < users.paginator.num_pages|add:"-5" %}
                                    <div class="disabled item">
                                        ...
                                    </div>
                                    <a class="item" href="?{% url_replace_page request 'page' users.paginator.num_pages %}" aria-label="Next">
                                        {{ users.paginator.num_pages }}
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% elif search_type == '3' %}
                        <div class="ui sticky mini fluid pagination menu">
                            <div class="header item">{% trans 'Export' %}</div>
                            <a href="?{% url_replace request 'xml' '1' %}" target="_blank" class="item popup" data-content="{% trans 'Will be opened in new window' %}">
                                <i class="gamepad icon"></i>
                                Xml
                            </a>
                            <a href="?{% url_replace request 'csv' '1' %}" class="item">
                                <i class="video camera icon"></i>
                                Csv
                            </a>
                            <div class="header right floated item">{% trans 'Pagination' %}</div>
                            {% if fees.number == 1 %}
                                <div class="disabled item">
                                    1
                                </div>
                            {% endif %}
                            {% if fees.has_previous %}
                                <a href="?{% url_replace_page request 'page' '1' %}" class="item">1</a>
                                {% if fees.number > 7 %}
                                    <div class="disabled item">
                                        ...
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% for p in page_list %}
                                {% if p == 1 %}
                                {% else %}
                                    {% if fees.number == p %}
                                        <a class="item active" href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                    {% else %}
                                        <a class="item" href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if fees.has_next %}
                                {% if fees.number < fees.paginator.num_pages|add:"-5" %}
                                    <div class="disabled item">
                                        ...
                                    </div>
                                    <a class="item" href="?{% url_replace_page request 'page' fees.paginator.num_pages %}" aria-label="Next">
                                        {{ fees.paginator.num_pages }}
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% elif search_type == '4' %}
                        <nav style="float: left">
                            <ul class="pagination pagination-sm">
                                {% if payments.has_previous %}
                                    <li>
                                        <a href="?{% url_replace_page request 'page' '1' %}" aria-label="Previous">
                                            <span aria-hidden="true">1</span>
                                        </a>
                                    </li>
                                    {% if payments.number > 2 %}
                                        <li class="disabled">
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">...</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% for p in page_list %}
                                    {% if payments.number == p %}
                                        <li class="active">
                                            <a href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                        </li>
                                    {% else %}
                                        <li class="">
                                            <a href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if payments.has_next %}
                                    <li class="disabled">
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">...</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="?{% url_replace_page request 'page' payments.paginator.num_pages %}" aria-label="Next">
                                            <span aria-hidden="true">{{ payments.paginator.num_pages }}</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="disabled">
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                    {% if search_type == '1' %}
                        {% include 'table.html' %}
                    {% elif search_type == '3' %}
                        {% include 'table_fees.html' %}
                    {% elif search_type == '4' %}
                        {% include 'table_payments.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
