{% load i18n %}
{% load url %}
{% load staticfiles %}
<table class="ui blue small very compact selectable striped table">
    <thead>
        <tr>
            {% if 'user_id__id' in default_table_choices %}
                <th><a href="?{% url_replace request 'order_by' 'user_id__id' %}">{% trans 'UID' %}</a><i class="fa fa-sort fa-fw"></i></th>
            {% endif %}
            <th><a href="?{% url_replace request 'order_by' 'user_id__login' %}">{% trans 'Login' %}</a><i class="fa fa-sort fa-fw"></i></th>
            {% if 'fio' in default_table_choices %}
                <th><a href="?{% url_replace request 'order_by' 'fio' %}">{% trans 'FIO' %}</a><i class="fa fa-sort fa-fw"></i></th>
            {% endif %}
            {% if 'district' in default_table_choices %}
                <th><a href="?{% url_replace request 'order_by' 'district' %}">{% trans 'City' %}</a><i class="fa fa-sort fa-fw"></i></th>
            {% endif %}
            {% if 'street' in default_table_choices %}
                <th><a href="?{% url_replace request 'order_by' 'street' %}">{% trans 'Street' %}</a><i class="fa fa-sort fa-fw"></i></th>
            {% endif %}
            {% if 'location' in default_table_choices %}
                <th><a href="?{% url_replace request 'order_by' 'location' %}">{% trans 'Build' %}</a><i class="fa fa-sort fa-fw"></i></th>
            {% endif %}
            {% if 'kv' in default_table_choices %}
                <th><a href="?{% url_replace request 'order_by' 'kv' %}">{% trans 'Flat' %}</a><i class="fa fa-sort fa-fw"></i></th>
            {% endif %}
            {% if 'user_id__bill__deposit' in default_table_choices %}
                <th><a href="?{% url_replace request 'order_by' 'user_id__bill__deposit' %}">{% trans 'Deposit' %}</a><i class="fa fa-sort fa-fw"></i></th>
            {% endif %}
            {% if 'user_id__credit' in default_table_choices %}
                <th><a href="?{% url_replace request 'order_by' 'user_id__credit' %}">{% trans 'Credit' %}</a><i class="fa fa-sort fa-fw"></i></th>
            {% endif %}
            {% if 'user_id__disable' in default_table_choices %}
                <th><a href="?{% url_replace request 'order_by' 'user_id__disable' %}">{% trans 'Disabled' %}</a><i class="fa fa-sort fa-fw"></i></th>
            {% endif %}
            <th><a href="?{% url_replace request 'order_by' 'user_id__deleted' %}">{% trans 'Deleted' %}</a><i class="fa fa-sort fa-fw"></i></th>
            <th>{% trans '-' %}</th>
            <th>{% trans '-' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr>
            {% if 'user_id__id' in default_table_choices %}
                <td><a href="{% url 'core:clients' %}{{ u.user_id.id }}">{{ u.user_id.id }}</a></td>
            {% endif %}
            <td><a href="{% url 'core:clients' %}{{ u.user_id.id }}">{{ u.user_id.login }}</a></td>
            {% if 'fio' in default_table_choices %}
            <td>{{ u.fio }}</td>
            {% endif %}
            {% if 'district' in default_table_choices %}
            <td>{{ city }}</td>
            {% endif %}
            {% if 'street' in default_table_choices %}
            <td>{{ u.street.name }}</td>
            {% endif %}
            {% if 'location' in default_table_choices %}
            <td>{{ u.location.number }}</td>
            {% endif %}
            {% if 'kv' in default_table_choices %}
                {% if u.kv %}
                    <td>{{ u.kv }}</td>
                {% else %}
                    <td>--</td>
                {% endif %}
            {% endif %}
            {% if 'user_id__bill__deposit' in default_table_choices %}
                {% if u.user_id.credit > u.user_id.bill.deposit and u.user_id.credit > 0 and u.user_id.bill.deposit != 0%}
                    <td><span style="color: orange">{{ u.user_id.bill.deposit }}</span></td>
                {% elif u.user_id.bill.deposit < 0 %}
                    <td><span style="color: red">{{ u.user_id.bill.deposit }}</span></td>
                {% elif u.user_id.bill.deposit == 0 %}
                    <td><span style="color: grey">{{ u.user_id.bill.deposit }}</span></td>
                {% else %}
                    <td>{{ u.user_id.bill.deposit }}</td>
                {% endif %}
            {% endif %}
            {% if 'user_id__credit' in default_table_choices %}
                {% if u.user_id.credit > 0 %}
                    <td><span style="color: green">{{ u.user_id.credit }}</span></td>
                {% elif u.user_id.credit == 0 %}
                    <td><span style="color: grey">{{ u.user_id.credit }}</span></td>
                {% endif %}
            {% endif %}
            {% if 'user_id__disable' in default_table_choices %}
                {% if u.user_id.disabled == 1 %}
                    <td><span style="color: red">{% trans 'Disabled' %}</span></td>
                {% elif u.user_id.disabled == 2 %}
                    <td><span style="color: orange">{% trans 'Not Active' %}</span></td>
                {% else %}
                    <td><span style="color: green">{% trans 'Active' %}</span></td>
                {% endif %}
            {% endif %}
            {% if u.user_id.deleted %}
                <td><span style="color: red">{% trans 'Yes' %}</span></td>
            {% else %}
                <td>{% trans 'No' %}</td>
            {% endif %}
            <td><a href="{% url 'core:client_payments' u.user_id.id %}"><img src="{% static 'custom/images/button_payments.png' %}" /></a></td>
            <td><a href="{% url 'core:client_fees' u.user_id.id %}"><img src="{% static 'custom/images/button_fees.png' %}" /></a></td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            {% if 'user_id__id' in default_table_choices %}
                <th></th>
            {% endif %}
            <th><div class="ui blue tiny label">{% trans 'All' %}<div class="detail">{{ all }}</div></div></th>
            {% if 'fio' in default_table_choices %}
                <th></th>
            {% endif %}
            {% if 'district' in default_table_choices %}
                <th></th>
            {% endif %}
            {% if 'street' in default_table_choices %}
                <th></th>
            {% endif %}
            {% if 'location' in default_table_choices %}
                <th></th>
            {% endif %}
            {% if 'kv' in default_table_choices %}
                <th></th>
            {% endif %}
            {% if 'user_id__bill__deposit' in default_table_choices %}
                <th></th>
            {% endif %}
            {% if 'user_id__credit' in default_table_choices %}
                <th></th>
            {% endif %}
            {% if 'user_id__disable' in default_table_choices %}
                <th><div class="ui blue tiny label">{% trans 'Disabled' %}<div class="detail">{{ disabled }}</div></div></th>
            {% endif %}
            <th><div class="ui blue tiny label">{% trans 'Deleted' %}<div class="detail">{{ deleted }}</div></div></th>
        </tr>
    </tfoot>
</table>