{% load i18n %}
{% load url %}
{% load staticfiles %}
<table id="table_group" class="ui blue small very compact selectable striped table">
    <thead>
        <tr>
            <th><a href="?{% url_replace request 'order_by' 'id' %}">{% trans 'ID' %}</a></th>
            <th><a href="?{% url_replace request 'order_by' 'name' %}">{% trans 'Name' %}</a></th>
            <th><a href="?{% url_replace request 'order_by' 'bill__deposit' %}">{% trans 'Deposit' %}</a></th>
            <th><a href="?{% url_replace request 'order_by' 'credit' %}">{% trans 'Credit' %}</a></th>
            <th><a href="?{% url_replace request 'order_by' 'registration' %}">{% trans 'Registration' %}</a></th>
            <th>{% trans 'Status' %}</th>
            <th>-</th>
            <th>-</th>
        </tr>
    </thead>
    <tbody>
        {% for u in user %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.login }}</td>
            <td>{{ u.bill.deposit}}</td>
            <td>{{ u.credit }}</td>
            <td>{{ u.registration }}</td>
            <td>{% status u.disabled %}</td>

        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
{#            <th><div class="ui blue tiny label">{% trans 'Sum' %}<div class="detail">{{ out_sum }}</div></div></th>#}
            <th></th>
            <th></th>
{#            <th><div class="ui blue tiny label">{% trans 'All' %} <div class="detail">{{ fees_list.count }}</div></div></th>#}
            <th></th>
        </tr>
    </tfoot>
</table>
